{$DOMAIN} {
	encode gzip
	header {
		# Browsers must use https for this site from now on.
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		-Server
	}
	@platform path /api/v1/* /ws /ws/*
	reverse_proxy @platform platform:8000
	reverse_proxy app:3000
}
